In [1]:
# Index for Search
# 1.import pandas
# 2.to read and export a excel/csv file--also given to export a excel/csv file of a pivot table
# 3.to check total no. of rows & colums in dataframe
# 4.View a particular column
# 5.delete a column/delete columns
# 6.value counts of a column
# 7.Rename Columns of Data Frame
# 8.to find first four /second and third/last two digits from say number of 10 digits
# 9.Rename Columns of Data Frame
# 10.Selecting Columns or Rows/Filtering Records
# 11.Exclusion
# 12.Creating/adding New Columns
# 13.python code of alternate of if function in excel--- np.where
# 14.Handling Missing Values
# 15.sorting
# 16.indexing
# 17.giving names to columns after indexing/transposing
# 18.Aggregate--groupby/cummulative count/pivot
# 19.simple cross tabulation of two factors
# 20.to check data type
# 21.to merge two tables
# 22.to strip
# 23.Identify missing values of dataframe
# 24.to transpose data
# 25.append
# 26.to concat
# 27.to check data type
# 28.identify unique values
# 29.How to remove duplicate values of a variable
# 30.Applying function to element, column or dataframe
# 31.Basic Stats
# 32.How to generate frequency tables with pandas
# 33.Convert numeric variables to string variables and vice versa
# 34.random sampling in pandas
# 35.how to write or function/how to write and function
# 36.round off
# 37.how to replace a value by other
# 38.how to convert a column to string/text
# 39.how to take values(text & number) of different columns of a same customer in a single column
# 40.#how to drop a column/multiple column
# 41.Data pulling from MYSQL- Pulling scrip level data
# 42.Data pulling from MYSQL- dynamically pulling out last 15 months’ data
# 43.Data pulling from MYSQL- Pulling trade level data- cash & derivatives
# 44.How to read from a sheet of excel/csv
# 45.Write different worksheets in same excel
# 46.nested if in python
# 47.selecting only one column from one dataframe and put it to another dataframe
# 48.remove duplicates
# 49.Indexing, Slicing and Subsetting DataFrames in Python
# 50.Finding location/row number by giving a particular column value
# 51.Finding all details by giving a particular column value(also works if the value comes multiple times)
# 52.Convert string to numeric
# 53.Date time convert/today
# 54.remove missing rows
# 55.Only take selected columns from data frame
# 56.How to do round
# 57.How to concatenate
# 58.Line break/transpose/concatenate

In [2]:
#import pandas
import pandas as pd

In [ ]:
#to read a excel/csv file
pd.read_excel("path of the file.xlsx")
pd.read_csv("path of the file.csv")

#to export a excel/csv file
df.to_excel("path of the file.xlsx")
df.to_csv("path of the file.csv")
#to export a excel/csv file of a pivot table
df5.to_excel("path.xlsx", merge_cells=False)
df5.to_csv("path.csv", merge_cells=False)

In [ ]:
#to check total no. of rows & colums in dataframe
df.shape
#to see first five data points
df.head()   #here df is dataframe
#to see last five data points
df.tail()

In [ ]:
#View a particular column
df.columnname

In [ ]:
#delete a column
del df['columnname']
#delete columns
t_df1.drop(['column1','column2'],axis=1, inplace=True)

In [ ]:
#value counts of a column #to count say how many profit or loss from a column named profit/loss
df.columnname.value_counts()

In [ ]:
#to find first four digits from say number of 10 digits
df['newcolumn name'] = df['column name'].str[:4]
#to find second and third digits from say number of 10 digits
df['newcolumn name'] = df['column name'].str[2:4]
#to find last two digits from say number of 10 digits
df['newcolumn name'] = df['column name'].str[8:10]

In [ ]:
#Rename Columns of Data Frame

#Rename method helps to rename column of data frame.
df2=df.rename(columns={‘old_columnname’:’new_columnname’}) 
#This statement will create a new data frame with new column name. 

#To rename the column of existing data frame, set inplace=True
df.rename(columns={‘old_columnname’:’new_columnname’}, inplace=True)

In [ ]:
#Selecting Columns or Rows

# Accessing sub data frames
df[[‘column1’,’column2’]]

#Filtering Records
df = df[ df[‘column1’]>10]
df[ (df[‘column1’]>10) & df[‘column2’]==30]
df[ (df[‘column1’]>10) | df[‘column2’]==30]

In [ ]:
#Exclusion
import pandas as pd
import win32com.client as wd
conn = wd.Dispatch(r'ADODB.Connection')
conn.CommandTimeout = 3600
CONNECTIONSTRING = "Provider=MSOLAP.5;Integrated Security=SSPI;Persist Security Info=True;Initial Catalog=ODS;Data Source=db71.kotakseconline.com;MDX Compatibility=1;Safety Options=2;MDX Missing Member Mode=Error"
conn.Open(CONNECTIONSTRING)
rs = wd.Dispatch(r'ADODB.Recordset')


# mdx_query3 = "Select {[Measures].[DP Valuation]} on Columns,{[Client Code].children} DIMENSION PROPERTIES MEMBER_CAPTION,[Client Code].[Branch Franchisee],[Client Code].[Cash Delivery Cost],[Client Code].[Cash Squareup Cost],[Client Code].[Cc Name],[Client Code].[Channel],[Client Code].[Client],[Client Code].[Client Active Status],[Client Code].[Client Category],[Client Code].[Client Introduction Date],[Client Code].[Client Name],[Client Code].[Client Type],[Client Code].[Dealer Code],[Client Code].[Dealer Name],[Client Code].[Dealer2 Code],[Client Code].[Dealer2 Name],[Client Code].[Dealing All India Vertical Head Code],[Client Code].[Dealing All India Vertical Head Name],[Client Code].[Dealing Area Manager Code],[Client Code].[Dealing Area Manager Name],[Client Code].[Dealing Branch],[Client Code].[Dealing Business Head Code],[Client Code].[Dealing Business Head Name],[Client Code].[Dealing City],[Client Code].[Dealing Regional Manager Code],[Client Code].[Dealing Regional Manager Name],[Client Code].[Dealing State],[Client Code].[Dealing Sublocation],[Client Code].[Dealing Team Manager Code],[Client Code].[Dealing Team Manager Name],[Client Code].[Dealing Territory Manager Code],[Client Code].[Dealing Territory Manager Name],[Client Code].[Dealing Zone],[Client Code].[Derv Future Expiry Cost],[Client Code].[Derv Future Settl Squareup Cost],[Client Code].[Derv Future Squareup Cost],[Client Code].[Derv Options Exercise Assigned Cost],[Client Code].[Derv Options Lot Exercise Assigned Cost],[Client Code].[Derv Options Lot Settl Squareup Cost],[Client Code].[Derv Options Lot Squareup Cost],[Client Code].[Derv Options Settl Squareup Cost],[Client Code].[Derv Options Squareup Cost],[Client Code].[DP Client Id],[Client Code].[DP NAME],[Client Code].[Franchisee Main Code],[Client Code].[Franchisee Name],[Client Code].[Introduction Month],[Client Code].[Introduction Quarter],[Client Code].[Introduction Year],[Client Code].[Last Trade Date],[Client Code].[LOB],[Client Code].[LOC],[Client Code].[LOC code],[Client Code].[Location Code],[Client Code].[Location-Type Of Client],[Client Code].[Mis Profit Center],[Client Code].[Old Main Location],[Client Code].[Regional Head],[Client Code].[Relationship Manager Code],[Client Code].[Relationship Manager Name],[Client Code].[Servicing Branch],[Client Code].[Servicing City],[Client Code].[Servicing State],[Client Code].[Servicing Sublocation],[Client Code].[Servicing Zone],[Client Code].[Sourcing Branch],[Client Code].[Sourcing City],[Client Code].[Sourcing Company],[Client Code].[Sourcing Person Code],[Client Code].[Sourcing Person Name],[Client Code].[Sourcing State],[Client Code].[Sourcing Sublocation],[Client Code].[Sourcing Zone],[Client Code].[Vertical] on Rows From [Sales] where ([Date].[FiscalPeriod].[Fiscal Year].[FY 2017])" 

mdx_query3 = "Select {[Measures].[DP Valuation]} on Columns,{[Client Code].children} DIMENSION PROPERTIES MEMBER_CAPTION,[Client Code].[Client Name],[Client Code].[Introduction Month],[Client Code].[Dealer Code],[Client Code].[Dealer Name],[Client Code].[Location Code],[Client Code].[Mis Profit Center],[Client Code].[Sourcing Company],[Client Code].[Location-Type of Client] on Rows From [Sales] where ([Date].[FiscalPeriod].[Fiscal Year].[FY 2018])" 


dataset2 = rs.Open(mdx_query3, conn, 0, 1)
t2 = rs.GetRows()
df2 = pd.DataFrame(list(t2))
t_df2 = df2.transpose()
t_df2.columns = ['client_cd','Location_Code','Mis_Profit_Center','Sourcing_Company','Location_Type_of_Client','DP_Valuation']


#consider we have exixting data frame df1 which have client code(say column name Client_Code) and brokerage

#we shall merge df1 and t_df2
df1['key1'] = df1.Client_Code.str.strip()
t_df2['key1'] = t_df2.client_cd.str.strip()
df_merge1 = pd.merge(df1,t_df2, how='left', left_on=['key1'], right_on=['key1'])

#say we also have account status(i.e. account is active/deactive/closed etc)data frame df3(say client code column name client_id )

#we shall merge df_merge1 and df3
df_merge1['key1'] = df1.Client_Code.str.strip()
df3['key1'] = df3.client_id.str.strip()
df_merge3 = pd.merge(df_merge1,df3, how='left', left_on=['key1'], right_on=['key1'])

#Exclusion code for KSL #df_merge3 is dataframe name
df_merge3['Location_Code_mid'] = df_merge3['Location Code'].str[2:4]
df_merge3['Location_Code_beg'] = df_merge3['Location Code'].str[:4]
df_merge3['Location_Code_end'] = df_merge3['Location Code'].str[8:10]


df_merge3['Exclusion_type'] = "NA"
df_merge3['Exclusion_type'][df_merge3['Location_Code_beg'] == "IBQN"] = "Online NRI"
df_merge3['Exclusion_type'][df_merge3['Location_Code_beg'] == "IBQR"] = "Online NRI"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "RE"] = "Offline NRI"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "RO"] = "Offline NRI"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "NR"] = "Offline NRI"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "NO"] = "Offline NRI"
df_merge3['Exclusion_type'][df_merge3['Location Code'] == "DBDBDBDBPC"] = "Offline NRI"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "MG"] = "STAFF Account"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "GM"] = "STAFF Account"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "ST"] = "STAFF Account"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "TG"] = "STAFF Account"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "SG"] = "STAFF Account"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "QT"] = "STAFF Account"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "MR"] = "STAFF Account"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "SF"] = "STAFF Account"
df_merge3['Exclusion_type'][df_merge3['Location_Code_mid'] == "WM"] = "Wealth"
df_merge3['Exclusion_type'][df_merge3['Sourcing_Company'] == "Wealth Management"] = "Wealth left"
df_merge3['Exclusion_type'][df_merge3['Sourcing_Company'] == "KS-SUB BROKER"] = "SUB BROKER"
df_merge3['Exclusion_type'][df_merge3['Sourcing_Company'] == "KS-DSA"] = "DSA"
df_merge3['Exclusion_type'][df_merge3['Sourcing_Company'] == "KS-AUTHORIZED PERSON"] = "AUTHORIZED PERSON"
df_merge3['Exclusion_type'][df_merge3['Sourcing_Company'] == "Kotak Bank-NR-Privy"] = "NR-PRIVY"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "Wealth"] = "Wealth left final"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "CATIII"] = "CATIII Client"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "CATII"] = "CATII Client"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "QFI"] = "QFI Client"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "PCG"] = "PCG Type Client"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "NRI"] = "NRI Type Client"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "Staff"] = "Staff Type Client"
df_merge3['Exclusion_type'][df_merge3['Mis Profit Center'] == "PROP"] = "PROP Client"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "PROP"] = "PROP_left Client"
df_merge3['Exclusion_type'][df_merge3['Mis Profit Center'] == "INSTI"] = "INSTI Client"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "INSTI"] = "INSTI_left Client"
df_merge3['Exclusion_type'][df_merge3['Mis Profit Center'] == "PMS"] = "PMS Client"
df_merge3['Exclusion_type'][df_merge3['Location-Type Of Client'] == "PMS"] = "PMS_left Client"
#df_merge3['Exclusion_type'][df_merge3['Mis Profit Center'] == "PCG"] = "PCG Client"
df_merge3['Exclusion_type'][df_merge3['b.status'] == "SUSP"] = "Closed Account"

df_final1 = df_merge3[df_merge3['Exclusion_type'] == "NA"]#df_final1 is new dataframe name after all exclusion

df_final1.head()

In [ ]:
#Creating New Columns

#New column is a function of existing columns
df[‘NewColumn1’]=df[‘column2’] #Create a copy of existing column2 
df[‘NewColumn2’]=df[‘column2’]+10 #Add 10 to existing column2 then create a new one
df[‘NewColumn3’]= df[‘column1’] + df[‘column2’] #Add elements of column1 and column2  then create new column

#adding new data frame as a column to existing data frame
df = df.assign(df1=df1.values)

In [ ]:
#python code of alternate of if function in excel #df1,df2,df3 all data frames
import numpy as np
df['NewColumn'] = np.where(df['column1'] > 0, df['column2']/df_all_merge2['column1'], 0)
df1['NewColumn2'] = np.where(df1['column3'] > 0.5, 1, 0)
df3['NewColumn3'] = np.where(df3['column4'] <= 0, 1, 0)
df4['NewColumn4'] = np.where(df4['column5'] < df4['column6']*0.4, 1, 0)
df5['NewColumn5'] = df5['column6'] + (df5['column7'] - df5['column8'])
df6['NewColumn6'] = np.where(df6['column9'] < -0.2, 1, 0)
df7['NewColumn7'] = np.where(df7['DP_NAME'].str.startswith('KOTAK'),1,0)
df8['Client_Introduction_Date'] = df8['Client_Introduction_Date'].astype('str')

#convert to numeric   #here intro_yr is column of df1
df1.intro_yr = pd.to_numeric(df1.intro_yr, errors='coerce')


#others examples
#finding month on board from today
df2['MOB'] = (2017 - df2['intro_yr']*1)*12 + (8-df2['intro_mt']*1)
#explanation of above code:(current yr.-intro yr)*12+(current month number - intro month)#we have done *1 to convert into numeric 
df2['MOB'] = (df2['crnt_yr'] - df2['intro_yr'])*12 + (df2['crnt_mt']-df2['intro_mt'])

#To get median
df2['days_traded_median'] = df2[['Total_no_days_traded_1','Total_no_days_traded_2','Total_no_days_traded_3']].median(axis=1)

##others examples
df2['days_traded_Group'] = 9

df2['days_traded_Group'][df2['days_traded_median'] >= 10] = 3
df2['days_traded_Group'][(df2['days_traded_median'] >= 5) & (df2['days_traded_median'] < 10)] = 2
df2['days_traded_Group'][(df2['days_traded_median'] >= 1) & (df2['days_traded_median'] < 5)] = 1

In [ ]:
#Handling Missing Values

# dropna: It is used to drop rows or columns having missing data
df1.dropna()

# fillna: It is used to fill missing values
df2.fillna(value=5) #It replaces all missing values with 5
mean=df2[‘column1’].mean()
df2[‘column1’].fillna(mean) #It replaces all missing values of column1 with mean  of available values

In [ ]:
#sorting   #'client_code','AS_ON_Date' are two columns
df1_sorted = df1.sort_values(by=['client_code','AS_ON_Date'], ascending=[True,True])
#If i want descending for 'AS_ON_Date' values
df1_sorted = df1.sort_values(by=['client_code','AS_ON_Date'], ascending=[True,False])

#indexing(for 15)
df2 = df1_sorted.groupby('client_code').head(15).reset_index(drop=True)#here indexing will be from 0 to 14
#if i want indexing from 1 to 15
df2['idx'] = df2['AS_ON_Date']

In [ ]:
#giving names to columns after indexing/transposing
client_code= df1_sorted.groupby('client_code').head(1).reset_index(drop=True)
client_code= client_code[['client_code']]
client_code['idx'] = client_code.groupby('client_code').cumcount()
client_code['name_idx'] = 'client_code'
client_code = client_code.pivot(index='client_code',columns='name_idx',values='client_code')

# cli_month1_15['idx'] = cli_month1_15.groupby('client_code').cumcount()

df2['cashrealize_idx'] = 'cli_cashrealize_' + df2.idx.astype(str)
df2['dervrealize_idx'] = 'cli_dervrealize_' + df2.idx.astype(str)
# cli_month1_15['cashrunreal_idx'] = 'cli_cashrunreal_' + cli_month1_15.idx.astype(str)
# cli_month1_15['dervrunreal_idx'] = 'cli_dervrunreal_' + cli_month1_15.idx.astype(str)

Cashrealized = df2.pivot(index='client_code',columns='cashrealize_idx',values='cashrealize')
Derivativerealized = df2.pivot(index='client_code',columns='dervrealize_idx',values='dervrealize')
# Cashunrealized = cli_month1_15.pivot(index='client_code',columns='cashrunreal_idx',values='cashrunreal')
# Derivativeunrealized = cli_month1_15.pivot(index='client_code',columns='dervrunreal_idx',values='dervrunreal')

df3= pd.concat([client_code,Cashrealized,Derivativerealized],axis=1)

In [ ]:
#sequencing
sequence = ['client_code','cli_cashrealize_201604','cli_cashrealize_201605','cli_cashrealize_201606','cli_cashrealize_201607','cli_cashrealize_201608','cli_cashrealize_201609','cli_cashrealize_201610','cli_cashrealize_201611','cli_cashrealize_201612','cli_cashrealize_201701','cli_cashrealize_201702','cli_cashrealize_201703','cli_cashrealize_201704','cli_cashrealize_201705','cli_cashrealize_201706','cli_dervrealize_201604','cli_dervrealize_201605','cli_dervrealize_201606','cli_dervrealize_201607','cli_dervrealize_201608','cli_dervrealize_201609','cli_dervrealize_201610','cli_dervrealize_201611','cli_dervrealize_201612','cli_dervrealize_201701','cli_dervrealize_201702','cli_dervrealize_201703','cli_dervrealize_201704','cli_dervrealize_201705','cli_dervrealize_201706']
df4 = df3.reindex(columns=sequence)
df4.head(15)

In [ ]:
#Aggregate

#groupby
df.groupby(‘column1’).sum()
df.groupby([‘column1’,’column2’]).count()

#cummulative count
df.groupby('client_code').cumcount()

#pivot
df1= pd.pivot_table(df, index=["dpname","commonscripcode"], values=["Total_Realized_PNL"],aggfunc=[sum])
df2= pd.pivot_table(df, index=["dpname","commonscripcode"], values=["Total_Realized_PNL"],aggfunc=[len])

In [ ]:
#simple cross tabulation of two factors
pd.crosstab(df.column1, df.column2)

In [ ]:
# to merge two tables
df1['key1'] = df1.client_cd.str.strip()
df2['key1'] = df2.client_cd.str.strip()
df_merge = pd.merge(df1,df2, how='left', left_on=['key1'], right_on=['key1'])
df_merge.head()

In [ ]:
#to strip
dataframe.str.strip()

In [ ]:
# Identify missing values of dataframe
df.isnull()
#to fill NA values
df.fillna(0, inplace=True)#here na values are replaced by 0

#Example to impute missing values in Age by the mean
import numpy as np
#Using numpy mean function to calculate the mean value
meanAge = np.mean(df.Age)
#replacing missing values in the DataFrame
df.Age = df.Age.fillna(meanAge)

In [ ]:
#to transpose data
dataframe.transpose()

In [ ]:
#append
df3=df1.append(df2, ignore_index=False, verify_integrity=False)

In [ ]:
#to concat
df1 = pd.concat([df1,df2], axis=1)#side(row) wise concat
df2 = pd.concat([df1, df2])# down wise(column) concat

In [ ]:
#to check data type
df.dtypes
#to check data summary #mean,count,min,max
df.describe()

In [ ]:
#identify unique values
df[‘Column1’].unique()

In [ ]:
#How to remove duplicate values of a variable
#Remove Duplicate Values based on values of variables "Gender" and "BMI"

df1=df.drop_duplicates(['Gender', 'BMI'])

In [ ]:
# Applying function to element, column or dataframe
#a. Map: It iterates over each element of a series
df[‘column1’].map(lambda x: 10+x) #this will add 10 to each element of column1

df[‘column2’].map(lambda x: ‘AV’+x)#this will concatenate “AV“ at the beginning of each element of column2 (column format is string) 

#b. Apply: As the name suggests, applies a function along any axis of the DataFrame
df[[‘column1’,’column2’]].apply(sum)#it will returns the sum of all the values of column1 and column2
                  
#c. ApplyMap: This helps to apply a function to each element of dataframe.
func = lambda x: x+2
df.applymap(func) #it will add 2 to each element of dataframe (all columns of dataframe must be numeric type)

In [ ]:
#Basic Stats
#covariance
df.cov()

#correlation
df.corr()

#How to create plots (Histogram, Scatter, Box Plot)
#Histogram
#Plot Histogram
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_excel("E:/First.xlsx", "Sheet1")
#Plots in matplotlib reside within a figure object, use plt.figure to create new figure
 
fig=plt.figure()
#Create one or more subplots using add_subplot, because you can't create blank figure
 
ax = fig.add_subplot(1,1,1)
#Variable
ax.hist(df['Age'],bins = 5)
#Labels and Tit
plt.title('Age distribution')
plt.xlabel('Age')
plt.ylabel('#Employee')
plt.show()

#Scatter plot
#Plots in matplotlib reside within a figure object, use plt.figure to create new figure
 
fig=plt.figure()
#Create one or more subplots using add_subplot, because you can't create blank figure
  
ax = fig.add_subplot(1,1,1)
#Variable
ax.scatter(df['Age'],df['Sales'])
#Labels and Tit
plt.title('Sales and Age distribution')
plt.xlabel('Age')
plt.ylabel('Sales')
plt.show()

#Box-plot:
import seaborn as sns
sns.boxplot(df['Age'])
sns.despine()

In [ ]:
#How to generate frequency tables with pandas

import pandas as pd
df=pd.read_excel("E:/First.xlsx", "Sheet1") 

test= df.groupby(['Gender','BMI'])
test.size()

In [ ]:
#Convert numeric variables to string variables and vice versa
srting_outcome = str(numeric_input) #Converts numeric_input to string_outcome
integer_outcome = int(string_input) #Converts string_input to integer_outcome
float_outcome = float(string_input) #Converts string_input to integer_outcome

In [ ]:
#random sampling in pandas
target=df.sample(frac=0.8,random_state=200)
control=df.drop(target.index)

In [ ]:
#how to write or function
df1 = df[(df['Latest'] == "Buy") | (df['Latest'] == "Add") | (df['Latest'] == "Sell") | (df['Latest'] == "Reduce")]

#how to write and function
df['days_traded_Group'][(df['days_traded_median'] >= 5) & (df['days_traded_median'] < 10)] = 2

In [ ]:
#round off #here cashrealize is column name
df.cashrealize =df.cashrealize .round()

In [ ]:
#how to replace a value by other # here we are replacing 0.0 by 0
df.replace(to_replace="0.0", value="0", inplace=True, limit=None, regex=False, method='pad', axis=None)

In [ ]:
#how to convert a column to string/text #here cashrealize is column name
df['cashrealize'] = df['cashrealize'].astype(str)

In [ ]:
#how to take values(text & number) of different columns of a same customer in a single column
reshape['concatenated'] = " cashrealize:" + reshape['cashrealize'].astype(str) + " \n cashunreal:" + reshape['cashunreal'].astype(str)\
+ " \n dervrealize:" + reshape['dervrealize'].astype(str)+ " \n dervunreal:" + reshape['dervunreal'].astype(str)
#reshape['concatenated'] = "cashrealize:" + reshape['cashrealize'].astype(str) + " || cashrunreal:" + reshape['cashrunreal'].astype(str)\
#+ " || dervrealize:" + reshape['dervrealize'].astype(str)+ " || dervrunreal:" + reshape['dervrunreal'].astype(str)

In [ ]:
#how to drop a column/multiple column
df1.drop(['LongRealizedPNL','LongRealizedQty','LongTermAvgCost','Longavgcost','Longunreal','ShortAvgCost','ShortRealizedDELPNL',\
        'ShortRealizedSQUPPNL','ShortRealizedSQUPQty','ShortTermAvgCost','Shortunreal','avgcost','commonscripcode','is_reconciled','sector'], axis=1, inplace=True)

       
df1.drop('ShortRealizedDELQty',axis=1, inplace=True)

## Pulling data from MYSQL

In [ ]:
#Pulling scrip level data
import pandas as pd
import numpy as np
import pymysql as py

conn = py.connect(user="admin",passwd="L!fe$5432",host="127.0.0.1",port=3306,database="mysql")

q4 = "SELECT * from mysql.scripwise_pnl_jun17 where DATE(dataason) = '2017-06-21' and (LongURqty > 0 or ShortURqty > 0)" 
#q4 = "SELECT * from mysql.pnl_main_data where (AS_ON_Date > 201603 and AS_ON_Date < 201707)"

df = pd.read_sql(q4,conn)

In [ ]:
#Pulling scrip level data
import pandas as pd
import numpy as np
import pymysql as py

conn = py.connect(user="admin",passwd="L!fe$5432",host="127.0.0.1",port=3306,database="mysql")

q1 = "SELECT * from mysql.scripwise_pnl_apr16 where (LongRealizedQty > 0 or ShortRealizedDELQty > 0 or ShortRealizedSQUPQty > 0 )"
q2 = "SELECT * from mysql.scripwise_pnl_may16 where (LongRealizedQty > 0 or ShortRealizedDELQty > 0 or ShortRealizedSQUPQty > 0 )"

df1 = pd.read_sql(q1,conn)
df2 = pd.read_sql(q2,conn)

dfNew = pd.concat([df1,df2])

In [ ]:
#dynamically pulling out last 15 months’ PnL when only starting month is specified(here data taken from APR'16-Jun'17)
import pandas as pd
import numpy as np
import pymysql as py

conn = py.connect(user="admin",passwd="L!fe$5432",host="127.0.0.1",port=3306,database="mysql")

q4 = "SELECT * from mysql.pnl_main_data where (AS_ON_Date > 201603 and AS_ON_Date < 201707)"

#q4 = "SELECT * from mysql.pnl_main_data where (AS_ON_Date > 201603 and AS_ON_Date < 201707)limit 200"

df = pd.read_sql(q4,conn)

#consider we have exixting data frame df1 which have client code(say column name Client_Code) and brokerage

#we shall merge df1 and t_df2
df['key1'] = df.Client_Code.str.strip()
df1['key1'] = df1.client_code.str.strip()
df_merge1 = pd.merge(df,df1, how='left', left_on=['key1'], right_on=['key1'])
df_merge1.head()

In [ ]:
#pulling trade level data

import pandas as pd
import pyodbc as py
import pymysql
conn = pymysql.connect(user="admin",passwd="L!fe$5432",host="127.0.0.1",port=3306,database="mysql")
conn9 = py.connect('Driver={SQL Server};''Server=Db28.kotakseconline.com;''Port=1433;''DATABASE=QSS')

# pull trade data for Cash
q16 = "SELECT * from QSS.dbo.ClientTrans where Substring(CONVERT(CHAR(8),ClTransDate),1,6) = '201706'"
df = pd.read_sql(q16,conn9)
df.to_sql(con=conn, name='cashtrd_jun17', if_exists='replace', flavor='mysql')

# pull trade data for Derivatives
q16 = "SELECT * from QSS.dbo.DRCLTRANS where Substring(CONVERT(CHAR(8),ClDate),1,6) = '201705'"
df = pd.read_sql(q16,conn9)
df.to_sql(con=conn, name='dervtrd_may17', if_exists='replace', flavor='mysql')

In [ ]:
#How to read from a sheet of excel/csv
data_file = pd.read_excel('path_to_file.xls', sheetname="sheet_name")

In [ ]:
#Write different worksheets in same excel
writer20 = pd.ExcelWriter('D:\Analytics_Shared\Aditya\Knowledge Series\session_one\pandas_multiple_top20.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
t_df_bank.head(100).to_excel(writer20, sheet_name='Bank')
t_df_branch.head(100).to_excel(writer20, sheet_name='Branch')
t_df_pcg.head(100).to_excel(writer20, sheet_name='PCG')
t_df_franchisee.head(100).to_excel(writer20, sheet_name='Franchisee')
# t_df_digital.head(20).to_excel(writer20, sheet_name='Digital')

# Close the Pandas Excel writer and output the Excel file.
writer20.save()

In [ ]:
#nested if in python
df6['CashInvestor_F&O_Trader'] = np.where(df6['Total_Derv_Vol'] > 0.8*df6['Total_Vol_cash_derv'],"F&O-Player",np.where(df6['Total_Square_Vol'] > 0.5*df6['Total_Vol_cash_derv'],\
                                                                                                                         "Trader","Cash-Investor" ))

In [ ]:
#selecting only one column from one dataframe and put it to another dataframe
df1=df_merge2[['dpname']]

In [ ]:
#remove duplicates
df1.drop_duplicates(subset=None, keep='first', inplace=True)

In [ ]:
#Indexing, Slicing and Subsetting DataFrames in Python
# select the first, second and third rows from the surveys variable
df[0:3]
# select the first 5 rows (rows 0,1,2,3,4)
df[:5]
# select the last element in the list
# (the slice starts at the last element,
# and ends at the end of the list)
df[-1:]

# set the first three rows of data in the DataFrame to 0
surveys_copy[0:3] = 0

#Slicing Subsets of Rows and Columns in Python
#To select a subset of rows AND columns from our DataFrame, we can use the iloc method. For example, we can select month, day and year (columns 2, 3 and 4 if we start counting at 1), like this:
df.iloc[0:3, 1:4]

#Notice that we asked for a slice from 0:3. This yielded 3 rows of data. When you ask for 0:3, you are actually telling python to start at index 0 and select rows 0, 1, 2 up to but not including 3
#note:using iloc for position level and loc for index level

#We can also select a specific data value according to the specific row and column location within the data frame using the iloc function: dat.iloc[row,column].
df.iloc[2,6]

#important link
#https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

In [ ]:
#Finding location/row number by giving a particular column value
df.loc[df['Client_Code']=='9XGC0'].index[0]

In [ ]:
#Finding all details by giving a particular column value(also works if the value comes multiple times)
df1=df[df['Client_Code']=='9XFN4']
df1

In [ ]:
#Convert string to numeric
t_df1['Today_Month'] = t_df1['Today_Month'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#date time convert/today
import pandas as pd
import pyodbc as py
import pymysql
from datetime import datetime, timedelta
tdate = datetime.strftime(datetime.now(), '%Y/%m/%d')
idate = datetime.strftime(datetime.now() - timedelta(45), '%Y/%m/%d')

In [ ]:
#remove missing rows
df_merge1=df_merge1[df_merge1['Commonscriptcode'].notnull()]

In [ ]:
#Only take selected columns from data frame
df11 = df[['client_cd_x']]

In [ ]:
#How to do round
df_merge1['Gain_percent_1'] = np.round(df_merge1['Gain_percent_1'], decimals=1)

In [ ]:
#How to concatenate
df_merge1['Gain_percent_1'].astype(str) + "%"
#e.g.df_merge1['Gain_percent_1'] = np.where(df_merge1["Gain_percent_1"] > 99, ">99%",df_merge1['Gain_percent_1'].astype(str) + "%")

In [ ]:
import pandas as pd
import numpy as np
import pymysql as py

conn = py.connect(user="admin",passwd="L!fe$5432",host="127.0.0.1",port=3306,database="kotakbi")

cli_month = "SELECT * from kotakbi.pnl_main_data where (AS_ON_Date > 201701 and AS_ON_Date < 201802)"
#cli_month = "SELECT * from mysql.pnl_main_data LIMIT 1000" 
cli_month1 = pd.read_sql(cli_month,conn)

del cli_month1['row_names']

df1_short= pd.pivot_table(cli_month1, index=["client_code"], values=("cashrealize","dervrealize","cashrunreal","dervrunreal"),aggfunc=sum)

dpname = cli_month1.groupby('client_code').head(1).reset_index(drop=True)
dpname = dpname[['client_code']]
dpname['idx'] = dpname.groupby('client_code').cumcount()
dpname['name_idx'] = 'client_code'
dpname = dpname.pivot(index='client_code',columns='name_idx',values='client_code')


reshape = pd.concat([dpname,df1_short],axis=1)

reshape.columns = ['name_idx','Cashrealize','Cashunreal','Dervrealize','Dervunreal']

reshape.fillna(0,inplace=True)


reshape['Cashrealize'] = np.round(reshape['Cashrealize'], decimals=1)
reshape['Cashunreal'] = np.round(reshape['Cashunreal'], decimals=1)
reshape['Dervrealize'] = np.round(reshape['Dervrealize'], decimals=1)
reshape['Dervunreal'] = np.round(reshape['Dervunreal'], decimals=1)

# reshape.cashrealize =reshape.Cashrealize .round()
# reshape.cashunreal = reshape.Cashunreal.round()
# reshape.dervrealize = reshape.Dervrealize.round()
# reshape.dervunreal = reshape.Dervunreal.round()
# reshape['Cashrealize'] = reshape['Cashrealize'].astype(str)
# reshape['Cashrealize'] = reshape['Cashrealize'].str.replace('.0', '')
# reshape['Cashunreal'] = reshape['Cashunreal'].astype(str)
# reshape['Cashunreal'] = reshape['Cashunreal'].str.replace('.0', '')
# reshape['Dervrealize'] = reshape['Dervrealize'].astype(str)
# reshape['Dervrealize'] = reshape['Dervrealize'].str.replace('.0', '')
# reshape['Dervunreal'] = reshape['Dervunreal'].astype(str)
# reshape['Dervunreal'] = reshape['Dervunreal'].str.replace('.0', '')


# reshape.replace(to_replace=".0", value="", inplace=True, limit=None, regex=False, method='pad', axis=None)

reshape['concatenated'] = " Cashrealize:" + reshape['Cashrealize'].astype(str) + " \n Cashunreal:" + reshape['Cashunreal'].astype(str)\
+ " \n Dervrealize:" + reshape['Dervrealize'].astype(str)+ " \n Dervunreal:" + reshape['Dervunreal'].astype(str)
#reshape['concatenated'] = "cashrealize:" + reshape['cashrealize'].astype(str) + " || cashrunreal:" + reshape['cashrunreal'].astype(str)\
#+ " || dervrealize:" + reshape['dervrealize'].astype(str)+ " || dervrunreal:" + reshape['dervrunreal'].astype(str)

reshape.to_csv("E:\Analytics_Shared\Abhirup\Abhirup\Python output\p&l Feb17-Jan18_modified.csv")

In [2]:
import pandas as pd
Temp00=pd.DataFrame(pd.read_csv(r'E:\Analytics_Shared\Varsha\Family_Account\Test_Text.txt'))
Temp00.head()

                                        ClientCode  Flag
0                                      M0MHD|HG4N0     1
1  P000L|MVHU0|KML00|98NP0|8VIK1|8T9E6|8RYW0|8QI47     2
2                                      EWAK0|BM1X0     3
3                                      DYP48|BJ670     4
4                    RZJ00|RSZU0|RB8L0|R0C0R|E9777     5

In [3]:
Temp01=pd.DataFrame(Temp00.ClientCode.str.split('|').tolist(),index=Temp00.Flag).stack()
Temp01.head()

Flag
1     0    M0MHD
      1    HG4N0
2     0    P000L
      1    MVHU0
      2    KML00
dtype: object

In [4]:
Temp02=Temp01.reset_index([0,'Flag'])
Temp02.columns=['Flag','ClientCode']
Temp02.head()
Temp02.shape

(65452, 2)