In [2]:
import pandas as pd
import numpy as np
import pymysql as py
import glob as os
import matplotlib as plt

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#pd.set_option('display.max_rows', 20)

# Load Data

In [5]:
df1=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\OLD Data\Bank and Branch Digital Channel - Active Codes.csv",encoding='cp1252')
df2=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\OLD Data\Bank Channel - Active Codes.csv",encoding='cp1252')
df3=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\OLD Data\Other than Bank Channel - Active Codes.csv",encoding='cp1252')
df4=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Closed.csv",encoding='cp1252')
df5=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Inactive Accounts.csv",encoding='cp1252')
df6=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Dormant North.csv",encoding='cp1252')
df7=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Dormant South.csv",encoding='cp1252')
df8=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Dormant West.csv",encoding='cp1252')
df9=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Dormant East.csv",encoding='cp1252')

# AQ1=pd.read_csv(r"D:\Python dataset\2023\CSV\CS All queries - Jan'23.csv",encoding='cp1252')
# AQ2=pd.read_csv(r"D:\Python dataset\2023\CSV\CS All queries - Feb'23.csv",encoding='cp1252')
# AQ3=pd.read_csv(r"D:\Python dataset\2023\CSV\CS All queries - Mar'23.csv",encoding='cp1252')
# AQ4=pd.read_csv(r"D:\Python dataset\2023\CSV\CS All queries - Apr'23.csv",encoding='cp1252')
AQ5=pd.read_csv(r"D:\Python dataset\2023\CSV\CS All queries - May'23.csv",encoding='cp1252')

C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:1: DtypeWarning: Columns (1,2,14,15,31,32,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\OLD Data\Bank and Branch Digital Channel - Active Codes.csv",encoding='cp1252')
C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:2: DtypeWarning: Columns (14,15,40,41,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\OLD Data\Bank Channel - Active Codes.csv",encoding='cp1252')
C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:3: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df3=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\OLD Data\Other than Bank Channel - Active Codes.csv",encoding='cp1252')
C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:4: DtypeWarning: Columns (14,15,47,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df4=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Closed.csv",encoding='cp1252')
C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:5: DtypeWarning: Columns (14,15,47,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df5=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Inactive Accounts.csv",encoding='cp1252')
C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:6: DtypeWarning: Columns (14,15,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df6=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Dormant North.csv",encoding='cp1252')
C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:7: DtypeWarning: Columns (14,15,47,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df7=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Dormant South.csv",encoding='cp1252')
C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:8: DtypeWarning: Columns (14,15,47,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df8=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Dormant West.csv",encoding='cp1252')
C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:9: DtypeWarning: Columns (14,15,47,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df9=pd.read_csv(r"D:\Python dataset\2023\RNPS\CSV\New Data\Dormant East.csv",encoding='cp1252')
C:\Users\ks23007\AppData\Local\Temp\ipykernel_6736\3029536362.py:15: DtypeWarning: Columns (14,17,18,22,23,24,26,27,29,30,31,32,33,34,35,36,57,58,60,65,72,73,74,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  AQ5=pd.read_csv(r"D:\Python dataset\2023\CSV\CS All queries - May'23.csv",encoding='cp1252')

# Old Queries Count

In [6]:
df_queries = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])
aq_queries = pd.concat([AQ5])

df_queries.shape
aq_queries.shape

df_queries = df_queries.drop_duplicates()
aq_queries = aq_queries.drop_duplicates()

df_queries.shape
aq_queries.shape

(5154909, 79)

(258788, 88)

(5154909, 79)

(258788, 88)

# List Headers

In [7]:

df_queries.rename(columns = {'Row Labels':'Client Code'}, inplace = True)
df_queries = df_queries[['Client Code','Mis Profit Center']]
list(df_queries.head())
# old_queries.shape
#'Client Active Status'
# 'Mis Profit Center'

['Client Code', 'Mis Profit Center']

In [8]:
list(aq_queries.head())
# list(df_queries.head())
# new_dormant.shape

['User Id',
 'User Name',
 'Query Id',
 'Created Date',
 'State Name',
 'Client Code',
 'DP Client ID',
 'ClientLocation',
 'EmailAddress',
 'Product',
 'CallType Name',
 'SubCallType Name',
 'Source',
 'SRNature',
 'Severity',
 'Escalation Level',
 'email_from',
 'FWD_USERID',
 'ReportingTo',
 'Status',
 'Reference ID',
 'Print Flag',
 'Last Printed By',
 'Last Printed By Name',
 'Last Printed Date time',
 'Reporting To',
 'Process On',
 'Rejection Type',
 'Base System Flag',
 'DT Status',
 'Branch DT Maker Id',
 'Branch DT Maker Name',
 'Branch DT Entry Date',
 'Branch DT Dispatch Date',
 'HO DT Recv By Id',
 'HO DT Recv By Name',
 'HO DT Recv Date',
 'HO DT Maker Id',
 'HO DT Maker Name',
 'HO DT Entry Date',
 'HO DT Dispatch Date',
 'Branch DT Recv By Id',
 'Branch DT Recv By Name',
 'Branch DT Recv Date',
 'Dispatch To Client By',
 'Dispatch To Client By Id',
 'Dispatch To Client By Name',
 'Client Dispatch Date',
 'Client Dispatch DT Entry Date',
 'Last Updated By Id',
 'Last Updated By Name',
 'Last Updated By Location',
 'Last Updated DateTime',
 'E-City Name',
 'E-Branch Name',
 'E-Employee ID',
 'E-Employee Name',
 'ReceivedBy',
 'ReceivedByType',
 'Inward_Stamp_Dt',
 'Email Received Date',
 'Customer Category',
 'First FollowUp Date',
 'Received From Registered Mobile',
 'Inter',
 'Email_Id',
 'Mobile_No',
 'Account Opening Date',
 'Stock Valuation',
 'Servicing City',
 'Servicing State',
 'Servicing Zone',
 'RM',
 'TAT',
 'Department Name',
 'Calling Done',
 'Communication Sent',
 'email_category',
 'Contact Id',
 'client active status',
 'closure date',
 'last traded date',
 'CallType NameSubCallType NameSource',
 'Month',
 'Date',
 'Product|CallType Name|SubCallType Name',
 'Source2',
 'Organization']

# Difference

In [9]:
# df_diff= pd.concat([old_queries,new_queries]).drop_duplicates(keep=False)
# df_diff.shape
# old_queries.shape
# new_queries.shape
# # list(new_queries.head())

# Keeping Client Code and Client Status

In [10]:
df_queries['Client Code']=df_queries['Client Code'].str.strip()
aq_queries['Client Code']=aq_queries['Client Code'].str.strip()
merge_clientcode= aq_queries.merge(df_queries,on='Client Code')
merge_clientcode.shape
# pd.pivot_table(old_queries, index='Client_Active_Status_old_queries',values='Row Labels', aggfunc=np.count_nonzero)

(207381, 89)

In [12]:
#  merge_clientcode.head()
merge_clientcode.shape
# merge_clientcode.query('Client_Active_Status_new_queries != Client_Active_Status_old_queries')

(207381, 89)

In [13]:
pd.pivot_table(merge_clientcode, index='Mis Profit Center',values='Client Code', aggfunc=np.count_nonzero)

                      Client Code
Mis Profit Center
Bank Channel                59391
Bank Channel Digital        15995
Branch                      36959
Branch Digital              53895
Branch Franchisee            1200
Commodity & CDS               258
Franchisee                  16007
Franchisee FE                   1
PCG                         23641
PCG Franchisee                 34

In [14]:
# merge_clientcode.to_excel(r"D:\Python dataset\2023\CSV\Mapped MIS Profit center\data.xlsx",sheet_name='MIS Profit Center',index=False)

In [15]:
table = pd.pivot_table(merge_clientcode, index='Mis Profit Center', columns={"Organization","Month"},values="Query Id", aggfunc=np.count_nonzero)

In [16]:
 merge_clientcode.to_csv(r"D:\Python dataset\2023\CSV\Mapped MIS Profit center\data1.csv",index=False)